body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-orange {
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: white;
}

.btn-orange:hover {
  background-color: #e36802;
  border-color: #e36802;
  color: white;
}

[data-bs-theme='dark'] .btn-orange {
  background-color: #d96d12 !important;
  border-color: #d96d12 !important;
}

[data-bs-theme='dark'] .btn-orange:hover {
  background-color: #bf5f0f !important;
}

.input-group-text-time {
  background-color: #e7f1ff !important;
  color: #0c63e4 !important;
  font-weight: 600;
  min-width: 100px;
}

.input-group-text-duration {
  background-color: #fff3e0 !important;
  color: #ef6c00 !important;
  font-weight: 600;
  min-width: 100px;
}

.input-group-text-format {
  background-color: #f8f9fa !important;
  color: #6c757d !important;
  font-size: 0.85rem;
}

.indicator-icon {
  margin-right: 8px;
}